*{
    font-family:sans-serif;
}
.bg{
    background-image: url('bg-01.jpg');
    width: 100%;  
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .layer {
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: rgba(219,21,99,0.8);
    background: -webkit-linear-gradient(45deg, rgba(213,0,125,0.8), rgba(229,57,53,0.8));
    background: -o-linear-gradient(45deg, rgba(213,0,125,0.8), rgba(229,57,53,0.8));
    background: -moz-linear-gradient(45deg, rgba(213,0,125,0.8), rgba(229,57,53,0.8));
    background: linear-gradient(45deg, rgba(213,0,125,0.8), rgba(229,57,53,0.8));
  }
  .container-fluid{
      background-color: #fff;
      border-radius:15px;
  }
  .btn-default{
      margin-bottom:10px;
      border:none;
      color:white;
      background: rgba(219,21,99,0.8);
      background: -webkit-linear-gradient(45deg, rgba(213,0,125,0.8), rgba(229,57,53,0.8));
      background: -o-linear-gradient(45deg, rgba(213,0,125,0.8), rgba(229,57,53,0.8));
      background: -moz-linear-gradient(45deg, rgba(213,0,125,0.8), rgba(229,57,53,0.8));
      background: linear-gradient(45deg, rgba(213,0,125,0.8), rgba(229,57,53,0.8));
  }
  .btn-default:hover{
      color:white;
    background: rgba(229,57,53,0.8);
    background: -webkit-linear-gradient(45deg, rgba(229,57,53,0.8),rgba(213,0,125,0.8));
    background: -o-linear-gradient(45deg, rgba(229,57,53,0.8),rgba(213,0,125,0.8));
    background: -moz-linear-gradient(45deg, rgba(229,57,53,0.8),rgba(213,0,125,0.8));
    background: linear-gradient(45deg,rgba(229,57,53,0.8), rgba(213,0,125,0.8));
  }