.imgadj img{
  width:100%;
  height:100bg;
}
a {
    color: #333;
    text-decoration: none;
    background-color: transparent;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #333;
}
